<div class="nav-footer">
  <nav class="nav-wrapper">
    <span class="nav-copy"><%= config.author || config.title %> &copy; <%= new Date().getFullYear() %>  <a class="nav-rss" title="RSS" href="/rss/" target="_blank"><i class="icon icon-rss" aria-hidden="true"></i></a></span>

  </nav>
</div>
